.App{
    height: 100%;
}
*{
    margin: 0%;
}

p{
    margin: 15%;
  }

.oneСolumn{
    width: 15%;
    height: 100vh;
    float: left;
    background-color: #420938;
    color:white;
}

.oneColumnBottom{
    margin: 15%;
    margin-top: 150%;
}

.twoСolumn{
    width: 60%;
    height: auto;
    float: left;
    background-color: #420938;
    border-left: white;
    border-right: white;
    color: white;
}

.threeСolumn{
    width: 25%;
    height: 100vh;
    float: left;
    background-color: #420938;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}